page-register {}

#register-content {
  background: #D3CCE3;  
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3); 
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
  overflow: hidden;
}
 
#register-form>ion-item {
  background-color: transparent;
}

.addedToast {
  >div {
    background-color: rgb(55, 216, 55) !important;
    color: white;
  }
}
/*.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: rgb(255, 101, 101); //label color when focusing
}*/