page-home {

}

#home-content {
    background: -moz-linear-gradient(to bottom right, #292C34, #393d40);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom right, #292C34, #393d40);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom right, #292C34, #393d40);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#logo-div {
    color: white;
    margin-top: 50%;
}

#logo-div h1 {
    font-size: 45px;
    font-weight: 300;
}

#trippyme-logo {
    font-size: 60px;
    position: absolute;
    left: 44%;
    top: 27%;
}

.memes-logo > p {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    opacity: 0.9;
    background-color: red;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: rotate(-10deg);
}

.home-buttons-wrapper {
    margin-top: 30%;
}

.home-buttons {
    padding: 20px 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    width: 100%
}